/* Basic CSS resets -- leveling slight inconsistencies in browsers */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.xanh-mono-regular {
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

html, body {
	margin:0px;
	padding:0px;
  width: 100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
  line-height: 1.4em;
}


/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body {
    background-color:  whitesmoke;	
    font-family: "Xanh Mono", monospace;
}


#container {
	width:90%;
	margin:auto;
}


nav section {
	border: 5px solid lightblue;
  height:auto;
  border-radius: 10px; 
  background-color: white;
}


#nav{
    position:fixed;
    top:0;
    width:100%;
    padding: 20px;
    background-color: lightblue;
}

#nav ul{
    text-align: center;
}

#nav li{
    list-style: none;
    padding-left: auto;
    margin:5px;
    display: inline-block;
    line-height: 60px;
}

#nav a{
    color:black;
    padding:10px;
    background-color:lightblue;
    font-family: "Xanh Mono", monospace;
    text-decoration: none;
    border-radius: 10px;
}

#nav a:hover {
    color: lightskyblue;
    background-color:black;
    opacity: 70%;
  }

header{
    padding-top: 175px;
    margin: 15px 30px;
  }

section header{
  padding:0;
}

p a{
  color:black;
  padding:12px;
  background-color:lightgrey;
  font-family: "Xanh Mono", monospace;
  text-decoration: none;
  border-radius: 15px;
}

/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 10px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



main{
    padding: 15px 30px;
    margin: auto;
    width:100%;
}

 p, h1{
    color:black;
    padding:20px;
    font-family: "Xanh Mono", monospace;
}


h3{
  color:black;
  padding-top:5px;
  Padding:20px;
  font-family: "Xanh Mono", monospace;
}

 figure{
    margin:0px;
 }

figure img{
   width:100%;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
  }

.mobile {
background-color: lightpink;
border-radius: 10px;
  }
      

  .desktop{
display: none;
  }


/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
	header{
        padding-top: 400px;
        margin: 15px 30px;
      }
      #nav{
        position:fixed;
        top:0;
        width:100%;
        padding: 20px;
        background-color: lightpink;
    }

    nav section {
      border: 5px solid lightpink;
      border-radius: 10px; 
      background-color: white;
    }

    #nav a{
      color:black;
      padding:10px;
      background-color:whitesmoke;
      font-family: "Xanh Mono", monospace;
      text-decoration: none;
      border-radius: 10px;
  }
  
  #nav a:hover {
      color: whitesmoke;
      background-color:black;
      opacity: 70%;
    }
   

} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	header{
        padding-top: 300px;
        margin: 15px 30px;
      }

      #nav{
        position:fixed;
        top:0;
        width:100%;
        padding: 20px;
        background-color: lightblue;
    }

    nav section {
      border: 5px solid lightblue;
      border-radius: 10px; 
      background-color: white;
    }

    #nav a{
      color:black;
      padding:10px;
      background-color:whitesmoke;
      font-family: "Xanh Mono", monospace;
      text-decoration: none;
      border-radius: 10px;
  }
  
  #nav a:hover {
      color: whitesmoke;
      background-color:black;
      opacity: 70%;
    }
  
    #container{
        width:80%
    }

    .mobile{
        display:none;
          }
        
          .desktop{
        display:block;
          }

 nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
 }

 nav section{
    flex:0 1 48%;
 }
	
} /* closes 769px+ */


/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	header{
        padding-top: 200px;
        margin: 15px 30px;
      }
      #nav{
        position:fixed;
        top:0;
        width:100%;
        padding: 20px;
        background-color: lightblue;
    }
   
    nav section{
      flex:0 1 31%;
   }
  
} /* closes 1024px+ */






