* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.xanh-mono-regular {
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }


/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
  line-height: 1.4em;
}

nav{
    position:fixed;
    top:0;
    width:100%;
    padding: 20px;
    background-color: #ccc;
}

nav ul{
    text-align: center;
}

nav li{
    list-style: none;
    padding-left: auto;
    margin:5px;
    display: inline-block;
    line-height: 60px;
}

nav a{
    color:black;
    padding:10px;
    font-family: "Xanh Mono", monospace;
    text-decoration: none;
    border-radius: 10%;
}

nav a:hover {
    color: whitesmoke;
    background-color:black;
    opacity: 70%;
  }

header{
    padding-top: 200px;
    margin: 15px 30px;
  }

h1{
    text-align: center;
    padding:15px;
    font-family: "Xanh Mono", monospace;
}

h2{
    padding-top:45px;
    font-family: "Xanh Mono", monospace;
}

/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body {
	margin: auto;
  background-color:  whitesmoke;
}

.container {
	font-family: "Xanh Mono", monospace;
  margin:auto;
}

main{
  padding: 15px;
    margin: auto;
    width:100%;
    height: 800px;
}

.row{
    margin: auto;
    width:100%;
    height: 300px;
    display: flex;
    flex-direction: row;
}

p{
    color:black;
    padding:20px;
}

.scroll h3{
  color:black;
  padding:20px;
  text-align:center;
}

header p{
  color:black;
  padding:20px;
  transition: background-color 2s ease-out 100ms;
}

header p:hover{

color: lightblue;
padding:20px;
background-color: black;
}

header h2{
  color:black;
  padding:20px;
  
}

header h2:hover{
padding:20px;
transform: translate(-50%, -50%) scale(1);
transition: 2s ease-out 100ms; 
}

header h1{
  color:black;
  padding:20px;
}

header h1:hover{
padding:20px;
color: darkcyan;
transform: translate(100%, 100%) scale(3);
transition: 5s ease-out 90ms; 
}

main p{
  color:black;
  margin:auto;
  padding:10px;
}

main p:hover{
  color:red;
  margin:auto;
  padding:10px;
  animation: spin .5s infinite ease;
  animation-iteration-count: infinite;
  animation-direction: normal;
}    

.container2 {
    position: absolute;
    left: 50%;
    top: 115%;
    padding:200px;
    transform: translate(-50%, -50%);
  
    display: flex;
    gap: 10rem;
  }
  

  #boxa {
    background-color: #C3E0E5;
    animation-delay: 0s;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    
    animation: looping 1s infinite ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #boxb {
    background-color: #5885AF;
    animation-delay: .125s;
    border-radius: 25px;
    width: 50px;
    height: 50px; 
    
    animation: looping 1.1s infinite ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
  }

  #boxc {
    background-color: #41729f;
    animation-delay: .25s;
    border-radius: 25px;
    width: 50px;
    height: 50px;

    animation: looping 1.2s infinite ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #boxd {
    background-color: #274472;
    animation-delay: .325s;
    border-radius: 25px;
    width: 50px;
    height: 50px;
   
    animation: looping 1.3s infinite ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #boxe {
    background-color: #10264a;
    animation-delay: .5s;
    border-radius: 25px;
    width: 50px;
    height: 50px;
  
    animation: looping 1.4s infinite ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }


@keyframes looping {
 from {
    transform: translateY(-200%) scale(1);
    
  }
  to {
    transform: translateY(100%) scale(5);
    
  } 
  
  }

  
  

 
  @keyframes spin {
      10% { transform: rotate(72deg) scale(1);}
      20% { transform: rotate(144deg) scale(2);}
      40% { transform: rotate(216deg) scale(3);}
      50% { transform: rotate(288deg) scale(4);}
      60% { transform: rotate(360deg) scale(5);}
      70% { transform: rotate(-288deg) scale(4);}
      80% { transform: rotate(-216deg) scale(3);}
      90% { transform: rotate(-144deg) scale(2);}
      100% {transform: rotate(-72deg) scale(1);}
      
    }

figure img:hover{
          width:100%;
          margin:auto;
          display: flex;
         

          animation: spin 1s infinite ease;
          animation-iteration-count: infinite;
          animation-direction: normal;
      }


figure img{
  width: 500px;
  padding: 10px;
  margin:auto;
  flex-wrap: wrap;
}

footer{
    text-align:center;
    padding: 20px;
    background-color: #ccc;
    position: absolute;
    width:100%;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */







/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
	
	
	
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	
	
	
} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */





